In [1]:

from logging import root
import itertools


from os import truncate
!cdn_resources='in_line'
from pyvis import network as net
import networkx as nx
import pandas as pd

In [2]:
from platform import python_version

print(python_version())

import sys
print(sys.version)

3.8.19
3.8.19 | packaged by conda-forge | (default, Mar 20 2024, 12:50:25)
[Clang 15.0.7 ]

In [3]:
#Alliance
star=["Aegean","Air Canada","Air China","Air India","Air New Zealand", "ANA", "ASIANA","Austrian","Lifemiles","Brussels","Copa","CROATIA","EGYPTAIR","Ethiopian","EVA","LOT Polish","Lufthansa","SAS","Shenzhen","Singapore","Swiss","TAP","Thai","Turksih","United"]
one=["Alaska","American","British","CATHAY","FINAIR","Iberia","JAL","Malaysia","Qantas","Qatar","Royal Air Morac","Royal Jordanian","Srilankan","FIJI","OMAN"]
sky=["AeroArgentina","AeroMexico","AirEuropa","AirFrance","China Airlines","China Eastern","CZECH","DELTA","Garuda","ITA","Kenya","KLM","Korean Air","MEA","Saudia","TARDM","Vietnam","Virgin Atlantic","XIAMENAIR"]
#Credit card
AMEX=["AirFrance","KLM","Air Canada","ANA","Lifemiles","British","Virgin Atlantic","Aer Lingus","AeroMexico","CATHAY","DELTA","Emirates","Hawaiian","Iberia","JetBlue","Qantas","Qatar","Singapore"]
Citi=["AeroMexico","Lifemiles","CATHAY","Emirates","Etihad","EVA","AirFrance","KLM","JetBlue","Qantas","Qatar","Singapore","Thai","Turksih","Virgin Atlantic"]
Chase=["Aer Lingus","Air Canada","British","AirFrance","KLM","Iberia","Singapore","JetBlue","Southwest","United","Virgin Atlantic"]
Bilt=["Alaska","American","AirFrance","KLM","Air Canada","United","Virgin Atlantic","Turksih","British","CATHAY","Lifemiles","Iberia","Aer Lingus","Emirates","Hawaiian"]
CO=["AirFrance","KLM","Virgin Atlantic","AeroMexico","Air Canada","CATHAY","Lifemiles","British","Emirates","Etihad","EVA","FINAIR","Qantas","TAP","Singapore","Turksih"]

Airs={}
for i in star:
  Airs[i]="star"
for i in one:
  Airs[i]="one"
for i in sky:
  Airs[i]="sky"

for i in AMEX+Citi+Chase+Bilt+CO:
  if i not in list(Airs.keys()):
    Airs[i]="none"
AS=["Aer Lingus","Air Tahiti Nui", "Condor","Israel","Hainan","Icelandair","Korean Air","LATAM","Ravn Alaska","Singapore","STARLUX"]
VA=["Air New Zealand","ANA","Hawaiian","Indigo","LATAM","SAS","Singapore","South African","Virgin Australia"]
VAs=["Qatar","ANA","Hawaiian","Air Canada","United","Singapore","Virgin Atlantic",'Etihad',"South African",'Hainan',"HongKong","Capital","Tianjin","LINK","PELICAN"]
JB=["Hawaiian","Icelandair","JSX","Qatar","Silver","Singapore","South African"]
JAL=["S7",'Srilankan',"AirFrance","Bangkok",'China Eastern','Emirates',"Hawaiian","Korean Air","LATAM","Vistara","Jetstar"]

In [4]:
!cdn_resources='in_line'

g= nx.Graph()
Colors={"A":"#6676F5","B":"#F5F46D","Ch":"#64D5D9","Ci":"#E498F5","Co":"#D16F68"}
fig="diamond"
g.add_node('A', label='AMEX MR',color=Colors["A"],size=15,shape=fig)
g.add_node("B",label="Bilt",color=Colors["B"],size=15,shape=fig)
g.add_node('Ci', label='Citi',color=Colors["Ci"],size=15,shape=fig)
g.add_node('Ch', label='Chase',color=Colors["Ch"],size=15,shape=fig)
g.add_node("Co",label="Capital One",color=Colors["Co"],size=15,shape=fig)


g.add_nodes_from(star,group="star")
g.add_nodes_from(one,group="one")
g.add_nodes_from(sky,group="sky")


for i in range(len(star)-1):
  for j in range(i+1,len(star)):
    g.add_edge(star[i],star[j],color="lightgray")
for i in range(len(one)-1):
  for j in range(i+1,len(one)):
    g.add_edge(one[i],one[j],color="lightgray")

for i in range(len(sky)-1):
  for j in range(i+1,len(sky)):
    g.add_edge(sky[i],sky[j],color="lightgray")

#Indivual Airlines
for i in range(len(AS)):
  g.add_edge("Alaska",AS[i],color="lightgray")
for i in range(len(VA)):
  g.add_edge("Virgin Atlantic",VA[i],color="lightgray")
for i in range(len(VAs)):
  g.add_edge("Virgin Australia",VAs[i],color="lightgray")
for i in range(len(JB)):
  g.add_edge("JetBlue",JB[i],color="lightgray")
for i in range(len(JAL)):
  g.add_edge("JAL",JAL[i],color="lightgray")


for i in AMEX:
  g.add_edge("A",i,color=Colors["A"])
for i in Citi:
  g.add_edge("Ci",i,color=Colors["Ci"])
for i in Bilt:
  g.add_edge("B",i,color=Colors["B"])
for i in Chase:
  g.add_edge("Ch",i,color=Colors["Ch"])
for i in CO:
  g.add_edge("Co",i,color=Colors["Co"])

##find "None"
h=dict(g.nodes(data="group"))
k,v=list(h.keys()),list(h.values())

for i in range(8,len(k)):
  if v[i] is None:
    g.nodes[k[i]]["group"]="alone"

pos = nx.circular_layout(g)
h=net.Network(notebook=True)
#h.toggle_physics(False)
h.repulsion(node_distance=120, central_gravity=0.0, spring_length=100, spring_strength=0.01, damping=0.09)
h.from_nx(g)
h.show_buttons(filter_=["physics"])
h.show("example.html")

Local cdn resources have problems on chrome/safari when used in jupyter-notebook.

In [7]:
j=dict(g.nodes())
l=list(j.keys())
l.sort()
print(l.sort())
print(l)

None
['A', 'ANA', 'ASIANA', 'Aegean', 'Aer Lingus', 'AeroArgentina', 'AeroMexico', 'Air Canada', 'Air China', 'Air India', 'Air New Zealand', 'Air Tahiti Nui', 'AirEuropa', 'AirFrance', 'Alaska', 'American', 'Austrian', 'B', 'Bangkok', 'British', 'Brussels', 'CATHAY', 'CROATIA', 'CZECH', 'Capital', 'Ch', 'China Airlines', 'China Eastern', 'Ci', 'Co', 'Condor', 'Copa', 'DELTA', 'EGYPTAIR', 'EVA', 'Emirates', 'Ethiopian', 'Etihad', 'FIJI', 'FINAIR', 'Garuda', 'Hainan', 'Hawaiian', 'HongKong', 'ITA', 'Iberia', 'Icelandair', 'Indigo', 'Israel', 'JAL', 'JSX', 'JetBlue', 'Jetstar', 'KLM', 'Kenya', 'Korean Air', 'LATAM', 'LINK', 'LOT Polish', 'Lifemiles', 'Lufthansa', 'MEA', 'Malaysia', 'OMAN', 'PELICAN', 'Qantas', 'Qatar', 'Ravn Alaska', 'Royal Air Morac', 'Royal Jordanian', 'S7', 'SAS', 'STARLUX', 'Saudia', 'Shenzhen', 'Silver', 'Singapore', 'South African', 'Southwest', 'Srilankan', 'Swiss', 'TAP', 'TARDM', 'Thai', 'Tianjin', 'Turksih', 'United', 'Vietnam', 'Virgin Atlantic', 'Virgin Australia', 'Vistara', 'XIAMENAIR']

In [9]:
pd.DataFrame.from_dict(j,orient="index")

                 label    color  size    shape  group
A              AMEX MR  #6676F5    15  diamond    NaN
B                 Bilt  #F5F46D    15  diamond    NaN
Ci                Citi  #E498F5    15  diamond    NaN
Ch               Chase  #64D5D9    15  diamond    NaN
Co         Capital One  #D16F68    15  diamond    NaN
...                ...      ...   ...      ...    ...
Bangkok            NaN      NaN    10      NaN  alone
Emirates           NaN      NaN    10      NaN  alone
Vistara            NaN      NaN    10      NaN  alone
Jetstar            NaN      NaN    10      NaN  alone
Southwest          NaN      NaN    10      NaN  alone

[92 rows x 5 columns]

In [13]:
labels="1:1"
nx.set_edge_attributes(g, labels, "title")

In [14]:
df = nx.to_pandas_edgelist(g)
df.to_csv('out.csv')
print(df)

               source      target title  width      color
0                   A   AirFrance   1:1      1    #6676F5
1                   A         KLM   1:1      1    #6676F5
2                   A  Air Canada   1:1      1    #6676F5
3                   A         ANA   1:1      1    #6676F5
4                   A   Lifemiles   1:1      1    #6676F5
..                ...         ...   ...    ...        ...
697  Virgin Australia     Tianjin   1:1      1  lightgray
698  Virgin Australia        LINK   1:1      1  lightgray
699  Virgin Australia     PELICAN   1:1      1  lightgray
700           JetBlue         JSX   1:1      1  lightgray
701           JetBlue      Silver   1:1      1  lightgray

[702 rows x 5 columns]

In [15]:
h=net.Network(notebook=True)
#h.toggle_physics(False)
h.repulsion(node_distance=120, central_gravity=0.0, spring_length=100, spring_strength=0.01, damping=0.09)
h.from_nx(g)
h.show_buttons(filter_=["physics"])
h.show("example.html")

Local cdn resources have problems on chrome/safari when used in jupyter-notebook.

In [18]:
df = pd.DataFrame.from_records(h.edges)
print(df)

         color  width title              from          to
0      #6676F5      1   1:1                 A   AirFrance
1      #6676F5      1   1:1                 A         KLM
2      #6676F5      1   1:1                 A  Air Canada
3      #6676F5      1   1:1                 A         ANA
4      #6676F5      1   1:1                 A   Lifemiles
..         ...    ...   ...               ...         ...
697  lightgray      1   1:1  Virgin Australia     Tianjin
698  lightgray      1   1:1  Virgin Australia        LINK
699  lightgray      1   1:1  Virgin Australia     PELICAN
700  lightgray      1   1:1           JetBlue         JSX
701  lightgray      1   1:1           JetBlue      Silver

[702 rows x 5 columns]

In [19]:
df = pd.DataFrame.from_records(h.nodes)